{% extends "assyster_app/base.html" %}
{% load static %}
{% block content %}

<form action="/" method="post" id="demo-form" style="padding-right: 200px;padding-left: 200px;">
    {% csrf_token %}
    <input type="email" class="form-control" placeholder="Email" name="email"><br>
    <input type="password" class="form-control" placeholder="Password" name="password"><br>
    <button type="submit" class="btn btn-primary btn-block">Sign In</button><br>
</form>

<div class="col-12 text-center">
    <a href="{% url 'signup_staff' %}">Staff Signup</a><br>
</div><!-- /.col -->
<div class="col-12 text-center">
    <a href="{% url 'signup_student' %}">Student Signup</a>
</div><!-- /.col -->

{% if messages %}
<div class="col-12">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock content %}