{% extends 'assyster_app/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <br><br>
    <button type="submit" class="btn btn-primary btn-block">Edit Student</button>

</form>

<div class="form-group">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}